/* desert scheme ported from vim to google prettify */
pre.prettyprint {
    display: block !important;
    background-color: #333 !important;
}
.prettyprint .nocode {
    background-color: none !important;
    color: #000 !important;
}
.prettyprint .str {
    color: #ffa0a0 !important;
} /* string  - pink */
.prettyprint .kwd {
    color: #f0e68c !important;
    font-weight: bold !important;
}
.prettyprint .com {
    color: #87ceeb !important;
} /* comment - skyblue */
.prettyprint .typ {
    color: #98fb98 !important;
} /* type    - lightgreen */
.prettyprint .lit {
    color: #cd5c5c !important;
} /* literal - darkred */
.prettyprint .pun {
    color: #fff !important;
} /* punctuation */
.prettyprint .pln {
    color: #fff !important;
} /* plaintext */
.prettyprint .tag {
    color: #f0e68c !important;
    font-weight: bold !important;
} /* html/xml tag    - lightyellow */
.prettyprint .atn {
    color: #bdb76b !important;
    font-weight: bold !important;
} /* attribute name  - khaki */
.prettyprint .atv {
    color: #ffa0a0 !important;
} /* attribute value - pink */
.prettyprint .dec {
    color: #98fb98 !important;
} /* decimal         - lightgreen */

/* Specify class=linenums on a .prettyprint to get line numbering */
ol.linenums {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    color: #aeaeae !important;
} /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none !important;
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
}

@media print {
    pre.prettyprint {
        background-color: none !important;
    }
    .prettyprint .str,
    code .str {
        color: #060 !important;
    }
    .prettyprint .kwd,
    code .kwd {
        color: #006 !important;
        font-weight: bold !important;
    }
    .prettyprint .com,
    code .com {
        color: #600 !important;
        font-style: italic !important;
    }
    .prettyprint .typ,
    code .typ {
        color: #404 !important;
        font-weight: bold !important;
    }
    .prettyprint .lit,
    code .lit {
        color: #044 !important;
    }
    .prettyprint .pun,
    code .pun {
        color: #440 !important;
    }
    .prettyprint .pln,
    code .pln {
        color: #000 !important;
    }
    .prettyprint .tag,
    code .tag {
        color: #006 !important;
        font-weight: bold !important;
    }
    .prettyprint .atn,
    code .atn {
        color: #404 !important;
    }
    .prettyprint .atv,
    code .atv {
        color: #060 !important;
    }
}
